<div id="step1" class="step">
  <div class="paddingDoubleRowHack step-header">
    <div class="paddingDoubleLRHack">
      <div class="row" style="position: relative;">
        <div class="col-xs-9">
          <div class="title">{{stepName}}</div>
          <div class="description">
            Import a <a href="https://tools.humdata.org/examples/hxl/" target="_blank">HXL-tagged</a> spreadsheet or CSV file . Then, scroll down to preview and customize. Supported formats: <strong>CSV, XLS and XLSX</strong>.
          </div>
        </div>
        <span class="btn-actions">
        </span>
      </div>
    </div>
  </div>
  <div class="step-content">
    <div class="row">
      <div class="col-xs-3">
        <div class="radio-selection">
            <label for="data-source-upload"><input type="radio" value="upload" name="data-source" (change)="changeDatasource($event);" [checked]="dataSource == 'upload'" id="data-source-upload"> Upload a file</label>
          <label for="data-source-sample"><input type="radio" value="sample" name="data-source" (change)="changeDatasource($event);" [checked]="dataSource == 'sample'" id="data-source-sample"> Try our sample data</label>
          <label for="data-source-url-apis">
            <input type="radio" value="url" name="data-source" (change)="changeDatasource($event);" [checked]="dataSource == 'url'" id="data-source-url-apis"> Import from URL/APIs
            <ul>
              <li>
                <a href="javascript:void(0)" hdxDropboxchooser (urlSelect)="updateSelectedUrl($event)">
                  <img src="./assets/icons/dropbox.png"> Dropbox
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" hdxGooglepicker (urlSelect)="updateSelectedUrl($event)">
                  <img src="./assets/icons/drive.png">Google Drive
                </a>
              </li>
              <li class="disabled"><img src="./assets/icons/hdx.ico">HDX (Coming soon)</li>
            </ul>
          </label>
        </div>
      </div>
      <div *ngIf="dataSource == 'upload'" class="col-xs-6 source-upload">
        <!-- <div *ngIf="hxlCheckError" class="alert alert-danger" role="alert" [innerHTML]="hxlCheckError.fullErrorMessage"></div> -->
        <hdx-drag-drop-upload (selected)="onFileUpload($event)"></hdx-drag-drop-upload>
        <div class="source-upload-note">Note: If your spreadsheet has multiple tabs, only the data from the first tab will be imported.</div>

      </div>
      <div *ngIf="dataSource == 'sample'" class="col-xs-6 source-sample-data">
        <div *ngFor="let s of sampleData" >
          <label class="sample-item active">
            <input name="sample-data-selection" value="{{ s.url }}" type="radio" [checked]=" (s.url === selectedUrl) ? true : null" (change)="changeSampleUrl(s.url, s.recipe);">
            <span class="sample-content">
          <span class="sample-title">
            {{ s.name }}
          </span>
          <span class="sample-source">
            {{ s.org }}
          </span>
          <span class="sample-date">
            {{ s.url }}
          </span>
        </span>
          </label>
        </div>
      </div>
      <div *ngIf="dataSource == 'url'" class="col-xs-6 source-custom-url">
        <!-- <div *ngIf="hxlCheckError" class="alert alert-danger" role="alert" [innerHTML]="hxlCheckError.fullErrorMessage"></div> -->
        <label for="source-custom-url-field">Enter URL</label>
        <input [(ngModel)]="selectedUrl" name="selectedUrl" class="wizard-input" id="source-custom-url-field"
               placeholder="eg. http://example.com/population-jan-2011.json">
      </div>
    </div>
    <div class="row" *ngIf="hxlCheckError">
      <div class="col-xs-offset-3 col-xs-6">
        <div class="alert alert-danger" role="alert"> {{ hxlCheckError }}</div>
      </div>
    </div>
  </div>
  <div class="paddingDoubleRowHack customize-section">
    <div class="paddingDoubleLRHack">
      <div class="row step-content">
        <div class="col-xs-3">
          <div class="title">Select validations:</div>
          <div>
            Choose the ways to check your data.
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <div *ngIf="showRecipeDropdown; else recipeInputBox">
                <label style="padding-top: 10px;" for="source-custom-recipe-url-field">
                  This file contains data from the following country: (only countries with a
                  <a target="_blank" href="https://public.tableau.com/profile/ocha.field.information.services#!/vizhome/COD-Status_1/DetailedEvaluation">COD</a> "live" service are listed)
                </label>
                <select class="form-control countries-dropdown" [(ngModel)]="selectedRecipeUrl">
                  <option *ngFor="let country of countries;" [value]="country.url" [selected]="country.url === selectedRecipeUrl">
                    {{country.name}}
                  </option>
                </select>
              </div>
              <ng-template #recipeInputBox>
                <label style="padding-top: 10px;" for="source-custom-recipe-url-field">Enter Recipe</label>
                <input [(ngModel)]="selectedRecipeUrl" name="selectedRecipeUrl" class="wizard-input" id="source-custom-recipe-url-field"
                       placeholder="eg. http://example.com/population-jan-2011.json">
              </ng-template>

            </div>
            <div class="col-xs-12">
              <div class="filters">
                <div class="filters-title">
                  Validation rules
                  <div class="pull-right">
                    <a href="javascript:void(0)" (click)="onSelectDeselectRuleTypes(true)">Select all</a>
                    <a href="javascript:void(0)" (click)="onSelectDeselectRuleTypes(false)">Clear all</a>
                  </div>
                </div>
                <div class="filters-content">
                  <ul class="row">
                    <li class="col-xs-6" *ngFor="let ruleType of ruleTypes;">
                      <label tooltip="{{ruleType.description}}">
                        <input type="checkbox" [(ngModel)]="ruleType.enabled" (change)="onRuleTypeChange(ruleType)"> {{ ruleType.name }}
                      </label>
                    </li>
                    <li class="col-xs-6">
                      <label tooltip="">
                        <input type="checkbox" [(ngModel)]="customValidation" (change)="onTriggerCustomValidation()"> Check against your own list of allowed values
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-3" *ngIf="customValidation">
          <div class="filters custom-filter">
            <div class="filters-title">
              Custom Validation rules
            </div>
            <div class="filters-content">
              <div class="custom-list" *ngFor="let item of customValidationList; let idx = index;">
                <div class="custom-list-title">Custom list {{ idx + 1}}</div>
                <div class="custom-list-values">
                  <input class="" type="text" [(ngModel)]="item.values" (blur)="rulesRecheck()"
                         placeholder="Enter comma separated list, eg: item1,item2,item3">
                  <i *ngIf="idx == 0" (click)="onAddNewCustomValidation()" class="glyphicon glyphicon-plus"></i>
                  <i *ngIf="idx > 0" (click)="onRemoveCustomValidation(idx)" class="glyphicon glyphicon-minus"></i>
                  <select (change)="onCustomValidationTagChange(item, $event);">
                    <option disabled="disabled" selected>Select column</option>
                    <option *ngFor="let item of dataTitle; let idx = index;" [value]="dataHXLTags[idx]">{{ item }} ({{ dataHXLTags[idx] }})</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="error-report-wrapper row">
          <div class="col-xs-12">
            <div class="col-xs-12">
              <div class="title">Error report:</div>
            </div>
            <div class="col-xs-12">
              <div class="error-report">
                <div class="error-top-section">
                  <div class="error-breadcrumb">
                    <ul>
                      <li [ngClass]="{'active': selectedColumn == null }" (click)="resetSelection(true, true);">Report summary</li>
                      <li *ngIf="selectedColumn != null" [ngClass]="{'active': selectedRow == null }" (click)="resetSelection(false, true);" class="active">Column {{ selectedColumnName }}</li>
                      <li *ngIf="selectedRow != null" class="active">Cell {{ (selectedRow+1) }}</li>
                    </ul>
                  </div>
                  <div class="error-title">
                    {{ selectedTitle }}
                  </div>
                </div>
                <div class="error-list-container">
                  <div style="margin: 0 -15px; height: 100%;">
                    <div class="error-list col-xs-12">
                      <div class="row ">
                        <div class="col-xs-4 section">
                          <div class="section-title">Issues</div>
                        </div>
                        <div class="col-xs-8 section">
                          <div class="section-title">Cell</div>
                        </div>
                      </div>
                      <div *ngFor="let error of errorList" class="row section-spacing">
                        <div class="col-xs-4 section">
                          <div>{{ error.location_count }} {{ error.description }}</div>
                        </div>
                        <div class="col-xs-8 section scrollable">
                          <div>
                            <a *ngFor="let location of error.locations" class="cell-href" (click)="jumpTo(location.col, location.row)">{{ getColHeaderFromCol(location.col) + (location.row + 1)}}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="navigation">
                  <hr>
                  <div class="row">
                    <div *ngIf="selectedColumn != null">
                      <div class="col-xs-4 previous">
                        <a *ngIf="selectedColumn > 0" (click)="incrementColumn(-1)">« Previous column</a>
                      </div>
                      <div class="col-xs-4 count"> {{ selectedColumn + 1 }} of {{ numberOfColumns }} </div>
                      <div class="col-xs-4 next">
                        <a *ngIf="selectedColumn < numberOfColumns - 1" (click)="incrementColumn(1)">Next column »</a>
                      </div>
                    </div>
                    <div *ngIf="selectedColumn == null">
                      <div class="col-xs-4 previous"></div>
                      <div class="col-xs-4 count"> </div>
                      <div class="col-xs-4 next" (click)="reviewErrors()">
                        <a>Review errors »</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 hot-container">
              <hot-table #hotTable [hotId]="tableId" [settings]="tableSettings"></hot-table>
            </div>
            <div *ngIf="showLoadingOverlay" class="coming-soon">
              <div class="coming-soon-text">
                {{loadingOverlayText}}
                <img *ngIf="showLoadingDots" src="./assets/loading-dots.gif" style="margin-top: 7px; height: 10px; margin-left: 5px;">
              </div>

            </div>
          </div>
        </div>

        </div>
    </div>
  </div>
</div>
