@import "../step-style";

@viewHeight: 800px;

@sampleItemPadding: 10px;
@sampleItemRadioSize: 20px;
@topReportHeight: 4/10*@viewHeight;
@lineHeight: 20px;

.sample-item {
  position: relative;
  max-width: 800px;
  width: 100%;
  background-color: @whiteColor;
  margin-bottom: 10px;

  &.active {
    border-color: @blueColor;
  }

  input[type='radio'] {
    position: absolute;
    left: @sampleItemPadding;
    top: @sampleItemPadding;
  }

  input[type='radio']:checked + .sample-content {
    border-color: @blueColor;
  }

  .sample-content {
    display: block;
    padding: @sampleItemPadding @sampleItemPadding @sampleItemPadding @sampleItemPadding + @sampleItemRadioSize;
    border: 1px solid @whiteColor;
  }

  .sample-title, .sample-source, .sample-date {
    display: block;
  }

  .sample-title {
    color: @blueColor;
  }

  .sample-source {
    color: @darkGrayColor;
    font-size: 14px;
  }

  .sample-date {
    font-size: 14px;
    color: @grayColor;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }
}

.quick-charts-render {
  padding: 10px 20px;
  background-color: @whiteColor;
}
.share-section {
  ul {
    list-style: none;
    padding: 0;
    a {
      cursor: pointer;
    }
    a.disabled {
      color: @lightGrayColor;
      cursor: not-allowed;
    }
  }

  @embedCodeFontSize: 16px;
  @embedCodeLineHeight: 1.5*@embedCodeFontSize;
  #embedCode {
    margin-top: 10px;
    .sourceSansProFont(400, @embedCodeFontSize);
    width: 100%;
    line-height: @embedCodeLineHeight;
    height: 4*@embedCodeLineHeight + 2*@wizardFormTBPadding;
  }
}

.vertical-menu {
  list-style: none;
  display: inline;

  li {
    display: inline;
    &:after {
      padding: 0 10px;
      content: '|';
    }
    &:last-child {
      margin-right: 0;
      &:after {
        content: none;
      }
    }
  }
}

.error-report {
  @errorReportPadding: 30px;
  @navigationMargin: 15px;
  line-height: @lineHeight;
  padding: @navigationMargin @errorReportPadding;
  background-color: @darkGrayColor;
  border-radius: 5px;
  color: @whiteColor;
  height: @topReportHeight;
  position: relative;

  .error-top-section {
    position: absolute;
    top: @navigationMargin;
    left: 0;
    padding: 0 @errorReportPadding;
    width: 100%;
    z-index:101;
  }
  .error-breadcrumb {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      .sourceSansProFont(300, 12px);
      color: @whiteColor;

      li ~ li {
        &:before {
          content: "»";
          margin: 0 5px;
          .sourceSansProFont(300, 12px);
        }
      }
      li{
        display: inline;
        cursor: pointer;
        &.active {
          .sourceSansProFont(700, 12px);
          cursor: default;
        }
      }
    }
  }

  @errorTitleTopMargin: 5px;
  @errorTitleBottomMargin: 10px;
  .error-title {
    .sourceSansProFont(700, 18px);
    margin: @errorTitleTopMargin 0 @errorTitleBottomMargin;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .error-list-container {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: @topReportHeight;
    padding-top: @navigationMargin + 2*@lineHeight + @errorTitleTopMargin + @errorTitleBottomMargin;
    padding-left: @errorReportPadding;
    padding-right: @errorReportPadding;
    padding-bottom: @navigationMargin + @lineHeight + 2*@navigationMargin + 1px;
    .error-list {
      overflow-y: auto;
      height: 100%;
      width: 100%;
    }
  }
  .sectionMargin {
    margin: 10px 0;
  }
  .section-spacing {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .section {
    .sourceSansProFont(400, 14px);
    &.scrollable {
      max-height: 90px;
      overflow-y: auto;
      padding-right: 10px;
    }

    .section-title {
      color: @grayColor;
      text-transform: uppercase;
      .sourceSansProFont(300, 14px);
    }
    .cell-href {
      color: @orangeColor;
      text-decoration: underline;
      cursor: pointer;
      display: inline-block;

      &:after {
        content: ',';
        color: @whiteColor;
        margin-right: 5px;
      }
      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }
  .navigation {
    .sourceSansProFont(700, 14px);
    .letter-spacing-3();
    position: absolute;
    bottom: 0; left: 0;
    padding-left: @errorReportPadding;
    padding-right: @errorReportPadding;
    padding-bottom: @navigationMargin;
    width: 100%;
    hr {
      margin: @navigationMargin -@errorReportPadding;
      border-top-color: @grayColor;
    }

    a {
      color: @whiteColor;
      cursor: pointer;
    }
    .previous {
      text-align: left;
      text-transform: uppercase;
    }
    .count {
      text-align: center;
      font-weight: 400;
    }
    .next {
      text-align: right;
      text-transform: uppercase;
    }
  }
}


/deep/ .handsontable {
  width: 100%;
  height: 5/10*@viewHeight;
  overflow: hidden;

  tbody {
    th.ht__highlight, thead th.ht__highlight {
      background-color: @lightGrayColor;
    }

    td {
      white-space: pre;
    }
  }


  td.area:before, td.area-1:before, td.area-2:before, td.area-3:before, td.area-4:before, td.area-5:before, td.area-6:before, td.area-7:before {
    background-color: transparent;
  }
  .wtBorder {
    background-color: @orangeColor !important;
  }
}

.hot-container {
  margin-top: 20px;
}

.error-report-wrapper {
  .coming-soon .coming-soon-text{
    top: 30%;
  }
}

.coming-soon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.6);

  .coming-soon-text {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    .gothamBookFont(24px);
    color: @whiteColor;
  }
}

.filters {
  @filtersPadding: 15px;
  position: relative;
  margin-top: 32px;

  &.custom-filter {
    margin-top: 103px;
    .filters-content {
      overflow-y: scroll;
    }
  }

  .filters-title {
    background-color: @extraLightBlueColor;
    border-bottom: 1px solid @lightGrayColor;
    padding: @filtersPadding;
    .gothamMediumFont(14px);

    a {
      .sourceSansProFont(400, 14px);
    }
  }

  .filters-content {
    background-color: @whiteColor;
    padding: @filtersPadding;
    min-height: 130px;

    ul {
      padding: 0; margin: 0;
      list-style: none;
    }
  }

  a {
    & ~ a {
      &:before {
        content: "|";
        margin: 0 10px;
      }
    }
  }
}

.form-control.countries-dropdown {
  font-size: initial;
  color: @darkGrayColor;
  height: auto;
}

.custom-list {
  & ~ .custom-list {
    margin-top: 5px;
  }
  .custom-list-title {
    font-size: 12px;
  }

  .custom-list-values {
    position: relative;
    padding-right: 30px;

    input {
      width: 100%;
    }
    i.glyphicon-plus, i.glyphicon-minus {
      position: absolute;
      top: 10px;
      right: 0;
      color: @blueColor;
    }
    select {
      margin-top: 5px;
      width: 100%;
      height: auto;
    }
  }
}

@inputInnerTextPadding: 15px;
@inputLineHeight: 20px;
/deep/ input[type='text'], textarea, select {

  background-color: @whiteColor;
  width: 100%;
  border: 1px solid @lightGrayColor;
  line-height: @inputLineHeight;
  padding: @inputInnerTextPadding/2 @inputInnerTextPadding;

  .sourceSansProFont(400, 14px);
  color: @darkGrayColor;

  //border-radius: 6px;

  &::placeholder {
    color: @lightGrayColor;
    font-size: 13px;
  }

  &:focus {
    border-color: @blueColor;
    outline: none;
  }
}

/deep/ select {
  height: @inputInnerTextPadding + @inputLineHeight;
}

.source-upload {
  .source-upload-note {
    margin-top: 20px;
    .sourceSansProFont(400, 14px);
    color: @darkGrayColor;
  }
}

.alert-danger {
  word-break: break-all;
}
/deep/ .modal.in {
  .modal-dialog {
    width: 900px;

    .close {
      position: absolute;
      right: -30px;
      top: -40px;
      font-size: 40px;
      opacity: 1;
      color: white;
    }
    .modal-content {
      box-shadow: none;
      border: none;
      border-radius: 0;
      min-height: auto;
      min-width: auto;
      height: 560px;
    }
  }
}

.share-text {
  height: 3*20px + 15px;
}


.hero-section {
  height: 400px;
  background: @whiteColor;
  position: relative;
  .hero-content {
    position: absolute;
    top: 50%;
    left: 150px;
    width: 600px;
    transform: translateY(-50%);
    .gothamMediumFont(24px);
    color: @greenColor;
    h1 {
      .gothamMediumFont(40px);
      margin-bottom: 40px;
      color: @greenColor;
    }
    .hero-description {
      line-height: 1.25em;
      white-space: pre-line;
    }
  }
  .hero-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 300px;
    right: 150px;
  }
}

