<div id="step1" class="step">
  <div class="paddingDoubleRowHack step-header">
    <div class="paddingDoubleLRHack">
      <div class="row" style="position: relative;">
        <div class="col-xs-9">
          <div class="title">{{stepName}}</div>
          <div class="description">
            Import a spreadsheet or CSV file. Then, scroll down to preview and customize. Supported formats: <strong>CSV, XLS and XLSX.</strong>
          </div>
        </div>
        <span class="btn-actions">
        </span>
      </div>
    </div>
  </div>
  <div class="row step-content">
    <div class="col-xs-3">
      <div class="radio-selection">
        <label for="data-source-sample"><input type="radio" value="sample" name="data-source" (change)="changeDatasource($event);" [checked]="sampleUrlSelected" id="data-source-sample"> Try our sample data</label>
        <label for="data-source-url-apis">
          <input type="radio" value="url" name="data-source" (change)="changeDatasource($event);" [checked]="!sampleUrlSelected" id="data-source-url-apis"> Import from URL/APIs
          <ul>
            <li>
              <a href="javascript:void(0)" hdxDropboxchooser (urlSelect)="updateSelectedUrl($event)">
                <img src="./assets/icons/dropbox.png"> Dropbox
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" hdxGooglepicker (urlSelect)="updateSelectedUrl($event)">
                <img src="./assets/icons/drive.png">Google Drive
              </a>
            </li>
            <li class="disabled"><img src="./assets/icons/hdx.ico">HDX (Coming soon)</li>
          </ul>
        </label>
      </div>
    </div>
    <div *ngIf="sampleUrlSelected" class="col-xs-9 source-sample-data">
      <div *ngIf="hxlCheckError" class="alert alert-danger" role="alert" [innerHTML]="hxlCheckError.fullErrorMessage"></div>
      <div *ngFor="let s of sampleData" >
        <label class="sample-item active">
          <input name="sample-data-selection" value="{{ s.url }}" type="radio" [checked]=" (s.url === selectedUrl) ? true : null" (change)="changeSampleUrl(s.url);">
          <span class="sample-content">
          <span class="sample-title">
            {{ s.name }}
          </span>
          <span class="sample-source">
            {{ s.org }}
          </span>
          <span class="sample-date">
            {{ s.url }}
          </span>
        </span>
        </label>
      </div>
    </div>
    <div *ngIf="!sampleUrlSelected" class="col-xs-9 source-custom-url">
      <div *ngIf="hxlCheckError" class="alert alert-danger" role="alert" [innerHTML]="hxlCheckError.fullErrorMessage"></div>
      <label for="source-custom-url-field">Enter URL</label>
      <input [(ngModel)]="selectedUrl" name="selectedUrl" class="wizard-input" id="source-custom-url-field"
        placeholder="eg. http://example.com/population-jan-2011.json">
      <label style="padding-top: 10px;" for="source-custom-recipe-url-field">Enter Recipe</label>
      <input [(ngModel)]="selectedRecipeUrl" name="selectedRecipeUrl" class="wizard-input" id="source-custom-recipe-url-field"
        placeholder="eg. http://example.com/population-jan-2011.json">
    </div>
  </div>
  <div class="paddingDoubleRowHack customize-section">
    <div class="paddingDoubleLRHack">
      <div class="row step-content">
        <div class="col-xs-12">
          <div class="title">Select diagnostics:</div>
          <div>
            Choose the ways to check your data.
          </div>
          <div>
            Data source: <a target="_blank" [href]="selectedUrl">{{ selectedUrl }}</a>
          </div>
        </div>
        <div class="col-xs-12" style="height: 30px; background-color: #eee;">&nbsp;</div>
        <div class="col-xs-12">
          <div class="row">
            <div [ngClass]="showFilters ? 'col-xs-4' : 'hide'">
              <div class="filters">
                <div class="filters-title">
                  <a>Select all</a><a>Clear all</a>
                </div>
                <div class="filters-content">
                  <ul>
                    <li>
                      <label><input type="checkbox"> Check P-Codes</label>
                    </li>
                    <li>
                      <label><input type="checkbox"> Check admin unit names</label>
                    </li>
                    <li>
                      <label><input type="checkbox"> Check data types (numbers, strings)</label>
                    </li>
                    <li>
                      <label><input type="checkbox"> Compare to custom list</label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div [ngClass]="showFilters ? 'col-xs-8' : 'col-xs-12'">
              <div class="error-report">
                <div class="error-breadcrumb">
                  <ul>
                    <li [ngClass]="{'active': selectedColumn == null }" (click)="selectedColumn = null; selectedRow = null;">Report summary</li>
                    <li *ngIf="selectedColumn != null" [ngClass]="{'active': selectedRow == null }" (click)="selectedRow = null;" class="active">Column {{ selectedColumnName }}</li>
                    <li *ngIf="selectedRow != null" class="active">Cell {{ (selectedRow+1) }}</li>
                  </ul>
                </div>
                <div class="error-title">
                  {{ selectedTitle }}
                </div>
                <div class="row">
                  <div class="col-xs-6 section">
                    <div class="section-title">Issues</div>
                  </div>
                  <div class="col-xs-6 section">
                    <div class="section-title">Cell</div>
                  </div>
                </div>
                <div *ngFor="let error of errorList" class="row section-spacing">
                  <div class="col-xs-6 section">
                    <div>{{ error.location_count }} {{ error.description }}</div>
                  </div>
                  <div class="col-xs-6 section">
                    <div>
                      <a *ngFor="let location of error.locations" class="cell-href" (click)="jumpTo(location.hashtag, location.row)">{{ getColFromHashtag(location.hashtag) + (location.row + 1)}}</a>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row navigation">
                  <div class="col-xs-4 previous"><a>« Previous column</a></div>
                  <div class="col-xs-4 count"> 1 of 67 </div>
                  <div class="col-xs-4 next"><a>Next column »</a></div>
                </div>
              </div>


              <div class="">
                <hot-table #hotTable [hotId]="tableId" [settings]="tableSettings"></hot-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
